@import "tailwindcss";

/* 

@tailwind base;
@tailwind components;
@tailwind utilities; 

*/

/* Import your SCSS files after Tailwind directives */
@import "./common.css";
@import "./pages_styles/login.css";
@import "./components_styles/categories.css";
@import "./components_styles/suppliers.css";

