@import "tailwindcss";

/* 

@tailwind base;
@tailwind components;
@tailwind utilities; 

*/

/* Import your SCSS files after Tailwind directives */
@import "./pages_styles/login.css";
@import "./components_styles/categories.css";


.error {
    @apply bg-red-500 text-gray-50 py-2 px-4 my-4 rounded text-center;
}

.success {
    @apply bg-green-500 text-gray-50 py-2 px-4 my-4 rounded text-center;
}

.info {
    @apply bg-orange-500 text-orange-50 py-2 px-4 my-4 rounded text-center;
}


@layer utilities {
  .spin {
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
}