.error {
    @apply bg-red-500 text-gray-50 py-2 px-4 rounded text-center;
}

.success {
    @apply bg-green-500 text-gray-50 py-2 px-4 rounded text-center;
}

.info {
    @apply bg-orange-500 text-orange-50 py-2 px-4 rounded text-center;
}

h1 {
    @apply text-lg font-bold;
}

label {
    @apply text-sm font-bold;
}

input,
textarea {
    @apply rounded border py-[5px];
}

textarea {
    @apply min-h-[80px];
}

button {
    @apply rounded border py-[2px] px-3 hover:text-white cursor-pointer duration-300 shadow-md;
}

.add_button {
    @apply hover:text-white border-green-300 bg-green-300 hover:bg-green-500 shadow-green-300/50;
}

.cancel_button {
    @apply border-red-400 bg-red-400 hover:text-white hover:bg-red-600 shadow-red-400/50;
}

.edit_button {
    @apply border-yellow-300 bg-yellow-300 hover:text-white hover:bg-yellow-500 shadow-yellow-300/50;
}

@layer utilities {
    .spin {
        animation: spin 1s linear infinite;
    }

    @keyframes spin {
        100% {
            transform: rotate(360deg);
        }
    }
}