.category {
    @apply flex flex-col bg-gray-100;

    h1 {}

    .category_container {
        @apply flex justify-between gap-3;

        .category_left_container {
            @apply flex flex-col bg-white rounded p-3 mt-3 shadow-lg h-min min-w-1/5 max-w-1/5;

            h2 {
                @apply pb-2 text-lg font-bold;
            }

            .category_form {
                .input_container {
                    @apply pb-2;

                    input,
                    textarea {
                        @apply px-3 text-sm w-full;
                    }
                }

                button {
                    &.add_button {
                        @apply flex justify-center items-center gap-2 w-full;
                    }
                }

                .edit_buttons {
                    @apply flex justify-between gap-2;

                    button {
                        @apply w-full;
                    }
                }
            }
        }

        .category_right_container {
            @apply flex flex-col rounded grow mt-3;

            .search_category {
                input {
                    @apply px-3 text-sm w-full bg-white shadow-lg;
                }
            }

            table {
                @apply border-collapse border border-gray-200 rounded bg-white shadow-lg;

                thead {
                    tr {
                        @apply bg-gray-100;

                        td {
                            @apply border border-gray-200 p-2;
                        }
                    }
                }

                tbody {
                    tr {
                        td {
                            @apply border border-gray-200 p-2;

                            &.td_actions {
                                @apply flex flex-row gap-2;

                                button {
                                    @apply flex flex-col justify-end items-center cursor-pointer border-none;

                                    &.edit {
                                        @apply hover:text-yellow-600 hover:shadow-yellow-300 hover:shadow-sm;
                                    }

                                    &.delete {
                                        @apply hover:text-red-600 hover:shadow-red-300 hover:shadow-sm;
                                    }
                                    &.btn_clicked{
                                        @apply shadow-blue-700 shadow-lg ;
                                    }

                                    span {
                                        @apply text-[8px];
                                    }
                                }
                            }
                        }
                    }

                    .cat_not_found {
                        @apply text-center;
                    }
                }
            }

            .categories_loading {
                @apply flex justify-center items-center gap-2;
            }
        }
    }
}