.category {
    @apply flex flex-col bg-gray-100;

    h1 {
        @apply text-lg font-bold;
    }

    .category_container {
        @apply flex justify-between gap-3;

        .category_left_container {
            @apply flex flex-col bg-white rounded p-3 mt-3 shadow-lg h-min;

            h2 {
                @apply pb-2 text-sm font-bold text-center;
            }

            .category_form {
                .input_container {
                    @apply pb-2;

                    input {
                        @apply rounded border py-[2px] px-3 text-sm;
                    }
                }

                button {
                    @apply rounded border py-[2px] px-3 w-full cursor-pointer  duration-300 shadow-lg ;
                    &.add{
                        @apply border-green-300 bg-green-300 hover:bg-green-500 shadow-green-300/50;
                    }
                }
                .edit_buttons{
                    @apply flex justify-between gap-2;
                    .cancel{
                         @apply border-red-400 bg-red-400 hover:bg-red-600 shadow-red-400/50;
                    }
                    .edit{
                         @apply border-yellow-300 bg-yellow-300 hover:bg-yellow-500 shadow-yellow-300/50;
                    }
                }
            }
        }

        .category_right_container {
            @apply flex flex-col grow bg-white rounded p-3 mt-3 shadow-lg;

            table {
                @apply border-collapse border border-gray-200;

                thead {
                    tr {
                        @apply bg-gray-100;

                        td {
                            @apply border border-gray-200 p-2;
                        }
                    }
                }

                tbody {
                    tr {
                        td {
                            @apply border border-gray-200 p-2;

                            &.td_actions {
                                @apply flex flex-row gap-2;

                                button {
                                    @apply flex flex-col justify-end items-center cursor-pointer;

                                    &.edit {
                                        @apply hover:text-yellow-600;
                                    }

                                    &.delete {
                                        @apply hover:text-red-600;
                                    }

                                    span {
                                        @apply text-[8px];
                                    }
                                }
                            }
                        }
                    }
                    .cat_not_found{
                        @apply text-center;
                    }
                }
            }
        }
    }
}