.suppliers {
    @apply flex flex-col bg-gray-100;

    h1 {}

    .container {
        @apply flex flex-col gap-3 w-full;

        .add_search_box {
            @apply flex justify-between mt-2 p-2 bg-white;

            input {
                @apply px-3 text-sm;
            }

            button {}
        }

        .add_edit_modal {
            @apply fixed top-0 left-0 w-full h-full bg-black/70 flex justify-center items-center;

            .modal_wrapper {
                @apply bg-white shadow-cyan-100/20 rounded shadow-lg p-3 max-w-1/3 flex flex-col;

                .top_container {
                    @apply flex justify-between p-2;

                    .cancel_button {
                        @apply rounded-full py-1;
                    }
                }

                h1 {}

                .suppliers_form {
                    .input_container {
                        @apply pb-2;

                        input {
                            @apply px-3 text-sm w-full;
                        }
                    }

                    .edit_buttons {
                        @apply flex justify-center items-center gap-2;

                        button {
                            @apply w-full;
                        }
                    }

                    button {
                        &.add_button {
                            @apply flex justify-center items-center gap-2 w-full;
                        }
                    }
                }

                .msg_container {
                    @apply max-w-[20rem];

                    div {
                        @apply flex flex-col justify-center items-center gap-3 p-3;

                        span {
                            @apply text-[30px];
                        }
                    }
                }
            }
        }

        .table_container {
            @apply flex flex-col rounded grow mt-3;
            .suppliers_loading{
                 @apply flex items-center gap-2;
            }
        }
    }
}